.row{
    background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 800px;
}

  .colOne{
    background-color: FFAD26;;
    
  }
  .colTwo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
 

 
  
  
  .login {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .email,
  .password {
    display: block;
    width: 352px;
    height: 72px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    border: 1x solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }
  
  .submit {
    display: block;
    width: 352px;
    height: 56px;
    margin-bottom: 20px;
    background-color: #FFAD26;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  
  .forgot {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-top: 20px;
  }
  
  .forgot:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    .col {
      width: 100%;
      padding: 10px;
    }
  
    .email,
    .password,
    .submit {
      width: 100%;
      height: 50px;
      font-size: 18px;
    }
  
    .login {
      font-size: 28px;
      margin-bottom: 10px;
    }
  
    .forgot {
      font-size: 18px;
      margin-top: 10px;
    }
  }
  