.cardContainer {
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width: 500px) {
    .cardContainer {
        display: block;
        justify-content: center;
        margin-left: auto;
        padding: auto;
    }
.img{
    width: calc(100% - 20%);
}
    .card {
        width: 90%;
        height: 450px;
    }
}