h1{
    font-family: 'Poppins', sans-serif;
    font-size: 96px;
    font-style: mixed;
    color: #4F4F4F;
}

p{
    font-family: 'Poppins', sans-serif;
    font-style: SemiBold;
    font-size: 18px;
}