nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color:#ffad26;
    color: white;
}

.list{
    list-style-type: none;
    background:#ffad26;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.items{
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}