.ContainerSobre{
    width: 100%;
    height: 890px;
    background-color:#FFC668;
    
    
}

.itens{
    display: flex;
    justify-content: center;
    
}

.itens >  h1{
   
    color:  white;
   font-size: 64px;
}

.itens > p{
   
    color: white;
}