.ContainerSobre {
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #FFC668;
    padding-left: 10px;


}

.itens>p {
    display: flex;
    text-align: right;
}

.texto>h1 {
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    margin-top: 15px;
    color: white;
    font-size: 64px;
}

.texto {   
    font-style: normal;
    font-weight: 700;
    margin: 5%;
    padding: 5%;
}

.first {
    text-align: left;
}

.secord {
    margin-top: 10%;
    text-align: right;


}


.texto>p {

    font-size: 18px;
    font-weight: bold;
    color: white;
   


}
.itens{
    50%
}

.ContainerSobre{
    background-size: auto;
    
}


@media screen and (max-width: 1000px) {
.itens{
    width: 100%;
}
    .ContainerSobre {
       background: none;
       background-color: #FFC668;
        display: flex;
        flex-direction: column;
        height: 100%;

    }

    .texto>h1 {
        text-align: center;
        font-size: 32px;
        margin: 10px;
    }

    .texto {
        text-align: justify;
        margin-top: 10px;
        padding: 20px;

        height: 100%
    }

    .texto>p {
        font-size: 15px;
    }
}